.MainPage{
    position: relative;
    text-align: center;
}

.order-panel{
    position: absolute;
    left: 300px;
    top: 100px;
    border: 1px solid black;
}

.orderList {
    position: absolute;
    left: 700px;
    top: 150px;
    background-color: aliceblue;
    border: 1px solid black;
    height: 300px;
    width: 600px;
    overflow: auto;
}
