.radio_button{
    text-align: left;
}
.autocomplete{
    display: flex;
    position: relative;
    height: 150px;
    border-style: hidden;
    padding: 25px 10px 25px 10px;
}
.autocomplete-input{
    border-style: hidden;
    padding-bottom: 5px;
    padding-right: 25px;
    width: 100%;
}
.radio_button{
    border-style: hidden;
    padding: 10px 10px 25px 30px;
}
.price{
    border-style: hidden;
    padding: 10px 20px 20px 100px;
}
.checkout{
    border-style: hidden;
    padding: 10px;
}
.PickUp{
    display: flex;
    position: absolute;
    width:100%;
    z-index: 11;
}
.Destination{
    display: flex;
    position: absolute;
    width:100%;
    top: 80px;
    z-index: 10;
}
Input{
    width:100%;
}