.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.header {
    position: relative;
    left: 50%;
    top: -10%;
    transform: translate(-50%, -50%);
}