.MainPage{
    position: relative;
    text-align: center;
}

.infoCard{
    position: absolute;
    overflow: auto;
    top: 20%;
    left: 20%;
    height: 70vh;
    width: 30vw;
    font-weight: 500;
    font-size: 1.1em;
    text-align: left;
}

.Map{
    padding-top: 70px;
}

.orderList {
    position: absolute;
    left: 700px;
    top: 150px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    height: 300px;
    width: 700px;
    padding: 8px 24px;
    overflow: auto;
}

.orderDetail {
    position: absolute;
    left: 700px;
    top: 233px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    height: 217px;
    width: 700px;
    padding: 8px 24px;
    overflow: auto;
}

