.MainPage{
    position: relative;
    text-align: center;
}

.infoCard{
    position: absolute;
    overflow: auto;
    top: 20%;
    left: 15%;
    /* height: 70vh; */
    width: 30vw;
    font-weight: 500;
    font-size: 1.1em;
    text-align: left;
}

.Map{
    padding-top: 70px;
    width: 100vw;
    height: 100vh;
}

.orderListStyle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 4px;
    height: 400px;
    width: 700px;
    padding: 8px 24px;
    overflow: auto;
}


.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
}

.orderDetail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 4px;
    height: 300px;
    width: 700px;
    padding: 8px 24px;
    overflow: auto;
}

