.nav-bar{
    position: fixed;
    line-height: 64px;
    width:100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;
    z-index: 10;
    padding-right: 200px;
    padding-left: 200px;
}

.space{
    flex: 1 1 auto;
}
