.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.orderListStyle {
    margin: 0 auto;
    border-radius: 4px;
    height: 400px;
    width: 700px;
    padding: 8px 24px;
    overflow: auto;
}